<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings configSource="db.config"/>-->
  <system.net>
    <mailSettings>
      <smtp configSource="mail.config"/>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <xhtmlConformance mode="Strict"/>
    <customErrors defaultRedirect="~/forum/Error.aspx" mode="Off"/>

    <globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableEventValidation="false" validateRequest="false">
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
