<?xml version="1.0" encoding="utf-8"?>


<configuration>
  <configSections>
    <!--mjh: This config section came from mvc and the identity stuff.-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--mjh: This config section is for the forums YAF-->
    <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--mjh: Default Connection is for MVC users -->
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ListenFirst.mdf;Initial Catalog=ListenFirst;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--mjh: This connection is used by the YAF Forums. -->
    <add name="yafnet" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|ListenFirst.mdf;Integrated Security=True;User Instance=False" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--mjh: This was in an external configuration file (UrlRewriter.config), pulling it in here to simplify conifguration in one place.-->
  <rewriter>
    <!-- Handle Standard Logins -->
    <if url="^((?!forum).)*$">
      <!--<rewrite url="^~/(.+?)?login?\.aspx(\?(.+))?$" to="~/forum/forum.aspx?g=login&amp;$2" processing="stop" />-->
    </if>
    <rewrite url="^~/forum/forum\.aspx\?g=login(&amp;(.+))?$" to="~/forum/forum.aspx?g=login&amp;$1" processing="stop" />
    <!-- Standard URL Rewriting Format -->
    <rewrite url="^~/(.+?)?yaf_login?\.aspx(\?(.+))?$" to="~/forum/Mattforum.aspx?g=login&amp;$5" processing="stop" />
    <rewrite url="^~/(.+?)?yaf_info?\.aspx\?i=([0-9]+?)&amp;url\=(.+)$" to="~/forum/Mattforum.aspx?g=info&amp;i=$2&amp;url=$3" processing="stop" />
    <rewrite url="^~/(.+)?yaf_topics([0-9]+)p([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/forum/Mattforum.aspx?g=topics&amp;f=$2&amp;p=$3&amp;$7" processing="stop" />
    <rewrite url="^~/(.+)?yaf_topics([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/forum/Mattforum.aspx?g=topics&amp;f=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?yaf_forum([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/forum/Mattforum.aspx?g=forum&amp;c=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?yaf_postst([0-9]+)find([-a-z]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/forum/Mattforum.aspx?g=posts&amp;t=$2&amp;find=$3&amp;$7" processing="stop" />
    <rewrite url="^~/(.+)?yaf_postst([0-9]+)p([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/forum/Mattforum.aspx?g=posts&amp;t=$2&amp;p=$3&amp;$7" processing="stop" />
    <rewrite url="^~/(.+)?yaf_postst([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/forum/Mattforum.aspx?g=posts&amp;t=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?yaf_postsm([0-9]+)find([-a-z]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/forum/Mattforum.aspx?g=posts&amp;m=$2&amp;find=$3&amp;$7" processing="stop" />
    <rewrite url="^~/(.+)?yaf_postsm([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/forum/Mattforum.aspx?g=posts&amp;m=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?yaf_profile([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/forum/Mattforum.aspx?g=profile&amp;u=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?yaf_rsstopicft([0-9]+)t([0-9]+)(_([-a-z0-9]+))(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/forum/Mattforum.aspx?g=rsstopic&amp;ft=$2&amp;t=$3&amp;$9" processing="stop" />
    <rewrite url="^~/(.+)?yaf_rsstopicft([0-9]+)f([0-9]+)(_([-a-z0-9]+))(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/forum/Mattforum.aspx?g=rsstopic&amp;ft=$2&amp;f=$3&amp;$9" processing="stop" />
    <rewrite url="^~/(.+)?yaf_rsstopicft([0-9]+)(_([-a-z0-9]+))(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/forum/Mattforum.aspx?g=rsstopic&amp;ft=$2&amp;$8" processing="stop" />
    <rewrite url="^~/(.+)?yaf_([-0-9a-z_]+?)\.aspx\?(.+)?$" to="~/forum/Mattforum.aspx?g=$2&amp;$3" processing="stop" />
    <rewrite url="^~/(.+)?yaf_([-0-9a-z_]+?)\.aspx$" to="~/forum/Mattforum.aspx?g=$2" processing="stop" />
    <!-- Advanced URL Rewriting Format -->
    <rewrite url="^~/(.+?)?error.aspx$" to="~/$1error.aspx" processing="stop" />
    <rewrite url="^~/(.+?)?install/default.aspx?(\?(.+))?$" to="~/$1install/default.aspx?$2" processing="stop" />
    <rewrite url="^~/(.+?)?install/$" to="~/$1install/default.aspx?$2" processing="stop" />
    <!--<rewrite url="^~/(.+?)?login?(\?(.+))?$" to="~/Mattforum.aspx?g=login&amp;$5" processing="stop" />-->
    <rewrite url="^~/(.+?)?info?\?i=([0-9]+?)&amp;url\=(.+)$" to="~/forum/Mattforum.aspx?g=info&amp;i=$2&amp;url=$3" processing="stop" />
    <rewrite url="^~/(.+)?topics/([0-9]+)p([0-9]+)-(([-a-z0-9]+))?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=topics&amp;f=$2&amp;p=$3&amp;$7" processing="stop" />
    
    <rewrite url="^~/(.+)?topics/([0-9]+)-(([-a-z0-9]+))?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=topics&amp;f=$2&amp;$6" processing="stop" />
    
    <rewrite url="^~/(.+)?/category/([0-9]+)-(([-a-z0-9]+))?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=forum&amp;c=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?posts/t([0-9]+)find([-a-z]+)-(([-a-z0-9]+))?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=posts&amp;t=$2&amp;find=$3&amp;$7" processing="stop" />
    <rewrite url="^~/(.+)?posts/t([0-9]+)p([0-9]+)-(([-a-z0-9]+))?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=posts&amp;t=$2&amp;p=$3&amp;$7" processing="stop" />
    <rewrite url="^~/(.+)?posts/t([0-9]+)-(([-a-z0-9]+))?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=posts&amp;t=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?posts/t([0-9]+)?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=posts&amp;t=$2&amp;$5" processing="stop" />
    <rewrite url="^~/(.+)?posts/m([0-9]+)find([-a-z]+)-(([-a-z0-9]+))?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=posts&amp;m=$2&amp;find=$3&amp;$7" processing="stop" />
    <rewrite url="^~/(.+)?posts/m([0-9]+)-(([-a-z0-9]+))?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=posts&amp;m=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?profile/([0-9]+)-(([-a-z0-9]+))?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=profile&amp;u=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?admin/([-a-z0-9]+)?/([-a-z0-9]+)?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=admin_$2_$3&amp;$5" processing="stop" />
    <rewrite url="^~/(.+)?admin/([-a-z0-9]+)?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=admin_$2&amp;$4" processing="stop" />
    <rewrite url="^~/(.+)?rsstopic/ft([0-9]+)t([0-9]+)-(([-a-z0-9]+))(_([-a-z0-9]+))?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=rsstopic&amp;ft=$2&amp;t=$3&amp;pg=$5&amp;$7" processing="stop" />
    <rewrite url="^~/(.+)?rsstopic/ft([0-9]+)f([0-9]+)-(([-a-z0-9]+))(_([-a-z0-9]+))?(\?(.+))?$" to="~/forum/Mattforum.aspx?g=rsstopic&amp;ft=$2&amp;f=$3&amp;pg=$5&amp;$7" processing="stop" />
    <rewrite url="^~/(.+)?rsstopic/ft([0-9]+)-(([-a-z0-9]+))_([-a-z0-9]+)(\?(.+))?$" to="~/forum/Mattforum.aspx?g=rsstopic&amp;ft=$2&amp;pg=$3&amp;$7" processing="stop" />
    <rewrite url="^~/(.+)?rsstopic/ft([0-9]+)-(([-a-z0-9]+))-([-a-z0-9]+)(\?(.+))?$" to="~/forum/Mattforum.aspx?g=rsstopic&amp;ft=$2&amp;pg=$3&amp;$7" processing="stop" />
    <if url="^((?!\.ashx|\.asmx|\.axd|\.gif|\.png|\.jpg|\.ico|\.pdf|\.css|\.js|install|error|auth\.aspx|default\.aspx|popup\.aspx|advanced\.aspx|digest\.aspx).)*$">
      <rewrite url="^~/forum/(.+)?\?(.+)?$" to="~/forum/Mattforum.aspx?g=$1&amp;$2" processing="stop" />
      <rewrite url="^~/forum/(.+)?$" to="~/forum/Mattforum.aspx?g=$1" processing="stop" />
      <rewrite url="^~/forum/(.+)?\.aspx$" to="~/forum/Mattforum.aspx?g=$1" processing="stop" />
    </if>
  </rewriter>


  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    
    <!--mjh: ASPSMS Settings for Auth stuff begin-->
    <add key="SMSAccountIdentification" value="VNP3GEMHHF8S" />
    <add key="SMSAccountPassword" value="p4$$w0rd" />
    <add key="SMSAccountFrom" value="ListenFirst" />
    <!--mjh: ASPSMS Settings for Auth stuff end-->
    
    <!--mjh YAF AppSettings Begin-->
    <add key="YAF.ConfigPassword" value="pass" />
	  <add key="YAF.BoardID" value="1" />
    <add key="YAF.EnableURLRewriting" value="false" />
    <add key="YAF.URLRewritingMode" value="Unicode" />
    <add key="YAF.UseSMTPSSL" value="false" />  
    <add key="YAF.DatabaseObjectQualifier" value="yaf_" />
    <add key="YAF.DatabaseOwner" value="dbo" />
    <add key="YAF.ConnectionStringName" value="yafnet" />
    <add key="YAF.ProviderExceptionXML" value="ProviderExceptions.xml" />
    <add key="YAF.ProviderKeyType" value="System.Guid" />
    <add key="YAF.MobileUserAgents" value="iphone,ipad,midp,windows ce,windows phone,android,blackberry,opera mini,mobile,palm,portable,webos,htc,armv,lg/u,elaine,nokia,playstation,symbian,sonyericsson,mmp,hd_mini" />
    <add key="YAF.FileRoot" value="~/forum" />
    <add key="YAF.AppRoot" value="~/forum" />
    <add key="YAF.EnableURLRewriting" value="true" />
    <add key="YAF.BaseUrlMask" value="http://localhost:56863/" />
    <add key="YAF.BaseScriptFile" value="forum.aspx" />
    <add key="YAF.ForceScriptName" value="forum.aspx" />
    <!-- RadEditor configuration settings-->
    <add key="YAF.RadEditorSkin" value="Black" />
    <add key="YAF.UseRadEditorToolsFile" value="true" />
    <add key="YAF.RadEditorToolsFile" value="/forum/editors/radEditor/toolsFile.xml" />
    <!-- RadEditor configuration settings-->
    <!--mjh YAF AppSettings End-->
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!--<authentication mode="None"></authentication>-->
    <!--
    
    mjh: disabling YAF auth so I can use MVC auth.
    REPLACE the "!!" with hyphen hyphen (no space between). 
    see http://yetanotherforum.net/forum/posts/t17021-Using-ASP-NET-IDENTITY-OWIN!!MVC-5!!With-YAF!!As-part-of-your-site
    <authentication mode="Forms">
      <forms name=".YAFNET_Authentication" protection="All" timeout="43200" cookieless="UseCookies" />
    </authentication>
  
    -->
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <httpHandlers>
      <add verb="GET" path="Resource.ashx" type="YAF.YafResourceHandler, YAF" />
    </httpHandlers>
    <httpModules>
      <add name="YafTaskModule" type="YAF.Core.YafTaskModule, YAF.Core" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" />
    </httpModules>
    <pages>
      <controls>
        <!-- Default: use non-dynamic (compiled classes) in YAF -->
        <add tagPrefix="YAF" namespace="YAF.Controls" assembly="YAF.Controls" />
        <add tagPrefix="YAF" namespace="YAF.Controls.Statistics" assembly="YAF.Controls" />
        <add tagPrefix="YAF" namespace="YAF.Classes" />
        <add tagPrefix="YAF" namespace="YAF" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="YAF.Core" />
        <add namespace="YAF.Controls" />
        <add namespace="YAF.Utils" />
        <add namespace="YAF.Types.Interfaces" />
        <add namespace="YAF.Types" />
      </namespaces>
    </pages>
<!--mjh begin yaf-->
    <roleManager enabled="true" defaultProvider="YafRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="yafnet" applicationName="YetAnotherForum" name="YafRoleProvider" type="YAF.Providers.Roles.YafRoleProvider" />
      </providers>
    </roleManager>
    <membership defaultProvider="YafMembershipProvider">
      <providers>
        <clear />
        <add connectionStringName="yafnet" membershipPasswordFormat="0" applicationName="YetAnotherForum" name="YafMembershipProvider" requiresUniqueEmail="true" useSalt="false" type="YAF.Providers.Membership.YafMembershipProvider" />
      </providers>
    </membership>

    <profile enabled="true" defaultProvider="YafProfileProvider" inherits="YAF.Utils.YafUserProfile">
      <providers>
        <clear />
        <add connectionStringName="yafnet" applicationName="YetAnotherForum" name="YafProfileProvider" type="YAF.Providers.Profile.YafProfileProvider" />
      </providers>
    </profile>
<!--mjh end yaf-->    
    
    
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
        <remove name="YafTaskModule" />
        <remove name="UrlRewriter" />
        <add name="YafTaskModule" type="YAF.Core.YafTaskModule, YAF.Core" preCondition="managedHandler" />
        <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="YafHandler" preCondition="integratedMode" verb="GET" path="Resource.ashx" type="YAF.YafResourceHandler, YAF" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ASPSMSX2Soap">
          <security mode="Transport" />
        </binding>
        <binding name="ASPSMSX2Soap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ASPSMSX2Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://webservice.aspsms.com/aspsmsx2.asmx" binding="basicHttpBinding" bindingConfiguration="ASPSMSX2Soap" contract="ASPSMSX2.ASPSMSX2Soap" name="ASPSMSX2Soap" />
      <endpoint address="https://webservice.aspsms.com/aspsmsx2.asmx" binding="customBinding" bindingConfiguration="ASPSMSX2Soap12" contract="ASPSMSX2.ASPSMSX2Soap" name="ASPSMSX2Soap12" />
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
</configuration>