


<script>
    $(document).ready(function () {
        if ($('html').hasClass('desktop')) {
            new WOW().init();
            $('#stuck_container').TMStickUp({})
        }
    });
</script>

<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">
    <div class="bg_6">
        <div class="container">
            <div class="wrapper_2">
                <div class="row">
                    <div class="grid_12 wow fadeInLeft">
                        <h2 class="header_4 text_7 color_8">Recent events</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="grid_6 wow fadeInLeft">
                        <div class="box_4">
                            <h3 class="text_8 color_8">
                                <span class="put-left">
                                    <span class="icon  bg_3 color_8 fa fa-signal"></span>
                                </span>
                                <a href="#">Lorem ipsum dolor sit amet conse</a> <br />
                                <span class="text_13 color_11">07.28.2014</span>
                            </h3>

                            <p class="text_6 color_9">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a class="btn_2 text_3 color_8" href="#">Read more</a>
                        </div>
                    </div>
                    <div class="grid_6 wow fadeInRight">
                        <div class="box_4">
                            <h3 class="text_8 color_8">
                                <span class="put-left">
                                    <span class="icon bg_4 color_8 fa fa-globe"></span>
                                </span>

                                <a href="#">Neque porro quisquam est qui dol</a> <br />
                                <span class="text_13 color_11">07.28.2014</span>
                            </h3>

                            <p class="text_6 color_9">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a class="btn_2 text_3 color_8" href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid_6 wow fadeInLeft">
                        <div class="box_4 last-row">
                            <h3 class="text_8 color_8">
                                <span class="put-left">
                                    <span class="icon bg_2 color_8 fa fa-search"></span>
                                </span>

                                <a href="#">Quis autem vel eum iure reprehende</a> <br />
                                <span class="text_13 color_11">07.28.2014</span>
                            </h3>

                            <p class="text_6 color_9">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a class="btn_2 text_3 color_8" href="#">Read more</a>
                        </div>
                    </div>
                    <div class="grid_6 wow fadeInRight">
                        <div class="box_4 last-row">
                            <h3 class="text_8 color_8">
                                <span class="put-left">
                                    <span class="icon bg_1 color_6 fa fa-copy"></span>
                                </span>

                                <a href="#">Aenean auctor wisi et urna aliqua</a><br />
                                <span class="text_13 color_11">07.28.2014</span>
                            </h3>

                            <p class="text_6 color_9">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a class="btn_2 text_3 color_8" href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="wrapper_2">
            <div class="row">
                <div class="grid_8 wow fadeInLeft" data-wow-delay=".2s">
                    <h2 class="header_8 text_7 color_6">Featured News</h2>

                    <div class="box_11">
                        <div class="put-left">
                            <img src="/images/index-3_img01.jpg" alt="Image 1" />
                        </div>
                        <div class="caption">
                            <h3 class="text_8 color_6">
                                <a href="#">
                                    Lorem ipsum dolor sit amet conse
                                </a> <br />
                                <span class="text_13 color_11">07.28.2014</span>
                            </h3>

                            <p class="text_6 color_10">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eius <br />
                                mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nis.
                            </p>
                            <a class="btn_2 text_3 color_7" href="#">Read more</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="box_11">
                        <div class="put-left">
                            <img src="/images/index-3_img02.jpg" alt="Image 2" />
                        </div>
                        <div class="caption">
                            <h3 class="text_8 color_6">
                                <a href="#">
                                    Nam elit magna hendrerit sit ame
                                </a> <br />
                                <span class="text_13 color_11">07.28.2014</span>
                            </h3>

                            <p class="text_6 color_10">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eius <br />
                                mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nis.
                            </p>
                            <a class="btn_2 text_3 color_7" href="#">Read more</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="box_11 last">
                        <div class="put-left">
                            <img src="/images/index-3_img03.jpg" alt="Image 3" />
                        </div>
                        <div class="caption">
                            <h3 class="text_8 color_6">
                                <a href="#">
                                    Morbi nunc odio gravida at curs
                                </a> <br />
                                <span class="text_13 color_11">07.28.2014</span>
                            </h3>

                            <p class="text_6 color_10">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eius <br />
                                mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nis.
                            </p>
                            <a class="btn_2 text_3 color_7" href="#">Read more</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <a class="btn_3" href="#">All news</a>
                </div>
                <div class="grid_4 wow fadeInRight" data-wow-delay=".4s">
                    <h2 class="header_8 text_7 color_6">News Archive</h2>

                    <ul class="marked-list">
                        <li><a href="#">Proin dictum elementum velit</a></li>
                        <li><a href="#">Fusce euismod consequat ante</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consec</a></li>
                        <li><a href="#">Aliquam congue fermentum nisl</a></li>
                        <li><a href="#">Mauris accumsan nulla vel diam</a></li>
                        <li><a href="#">Sed in lacus ut enim adipiscing aliqu</a></li>
                        <li><a href="#">In pede mi aliquet sit amet euis</a></li>
                        <li><a href="#">Aliquam dapibus tincidunt </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


